/*FEEL FREE TO MODIFY WHATEVER YOU WANT OR NEED
Colorffy 2019 */

body {
    background-color: #ffffff;
    color: #000000;
    font-family: Poppins, 'sans-serif';
}

/* ---------------------------------------------------
    TYPOGRAPHY
----------------------------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    line-height: 15px;
}

h1 {
    font-size: 40px;
    letter-spacing: -1.5px;
    font-weight: lighter;
    line-height: 48px;
}

h2 {
    font-size: 31px;
    letter-spacing: -0.5px;
    font-weight: lighter;
    line-height: 40px;
}

h3 {
    font-size: 25.92px;
    letter-spacing: 0px;
    font-weight: normal;
    line-height: 32px;
}

h4 {
    font-size: 16.2px;
    letter-spacing: 0.2px;
    font-weight: normal;
    line-height: 44px;
}

h5 {
    font-size: 14.99px;
    letter-spacing: 0px;
    font-weight: normal;
    line-height: 28px;
}

h6 {
    font-size: 16px;
    letter-spacing: 0.15px;
    font-weight: normal;
    line-height: 24px;
}

p {
    font-size: 16px;
    letter-spacing: 0.4px;
    font-weight: normal;
    line-height: 20px;
}

.title {
    font-weight: normal;
    text-transform: initial;
    letter-spacing: 0.5px;
    line-height: 10px;
}

.subtitle {
    font-weight: normal;
    text-transform: initial;
    letter-spacing: 0.15px;
    line-height: 10px;
    color: #333333;
}

.text-primary {
    color: #000000 !important;
}

/* ---------------------------------------------------
    NAVBAR
----------------------------------------------------- */
.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, .5);
    font-weight: normal !important;
}

/* ---------------------------------------------------
    BUTTONS
----------------------------------------------------- */
.btn {
    padding: 8px;
    margin: 4px;
    font-family: Roboto, 'sans-serif';
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1.25px;
    /*height: 36px;*/
    background-color: #ffffff;
    border-radius: 25px;
    border-style: none;
    text-transform: uppercase;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
}

.btn:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.btn-primary {
    background-color: #252525;
    color: #ffffff;
}

.btn-primary:hover {
    background-color: #141414;
}

.btn-primary:focus,
.btn-primary:active {
    background-color: #000000 !important;
}

/* ---------------------------------------------------
    CARDS
----------------------------------------------------- */
.card {
    box-shadow: 0 2px 4px 0 rgba(0, 64, 128, .2);
    transition: all .3s cubic-bezier(.25, .8, .25, 1);
    border: none;
    border-radius: 12px;
    margin-bottom: 20px;
}

.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 64, 128, .2), 0 2px 4px 0 rgba(0, 0, 0, .08);
}

/* ---------------------------------------------------
    IMAGES
----------------------------------------------------- */
.img-portafolio {
    box-shadow: 0 2px 4px 0 rgba(0, 64, 128, .2);
    transition: all .3s cubic-bezier(.25, .8, .25, 1);
    margin-bottom: 20px;
    border-radius: 8px;
}

.img-portafolio:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 64, 128, .2), 0 2px 4px 0 rgba(0, 0, 0, .08);
    -ms-transform: scale(1.1);
    /* IE 9 */
    -webkit-transform: scale(1.1);
    /* Safari 3-8 */
    transform: scale(1.1);
}

.card-icon-top {
    width: 100px;
    height: 50px;
    position: absolute;
    top: -10%;
    right: 0%;
    background-color: #ffffff;
    color: #000000;
    border-radius: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 64, 128, .2), 0 2px 4px 0 rgba(0, 0, 0, .08);
}


/* ---------------------------------------------------
    SECTIONS
----------------------------------------------------- */
.section-home {
    padding-top: 50px;
    padding-bottom: 50px;
}

.section-portafolio {
    padding-top: 30px;
    padding-bottom: 50px;
    background-color: #ffffff;
}

.section-services {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #fafbfe;
}

.section-contact {
    padding-top: 30px;
    padding-bottom: 50px;
    color: #000000;
    background-color: #ffffff;
}

.section-contact i {
    color: #000000;
    margin-right: 20px;
    margin-left: 20px;
}

/* ---------------------------------------------------
    FOOTER
----------------------------------------------------- */
footer {
    background-color: #333333;
    color: #ffffff;
    padding-top: 30px;
    padding-bottom: 30px;
}

footer a {
    color: #c9ccff;
}

footer a:hover {
    color: #a4abff;
}

/* ---------------------------------------------------
    MEDIA QUERIES
----------------------------------------------------- */
@media screen and (max-width: 992px) {
    .card {
        margin-bottom: 50px;
    }
    .img-portafolio:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 64, 128, .2), 0 2px 4px 0 rgba(0, 0, 0, .08);
        transform: none;
    }
}

@media screen and (max-width: 600px) {
    .card {
        margin-bottom: 50px;
    }
    .img-portafolio:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 64, 128, .2), 0 2px 4px 0 rgba(0, 0, 0, .08);
        transform: none;
    }
}