body {
    background-color: #ffffff;
    color: #000000;
    font-family: Poppins, 'sans-serif';
}

/* ---------------------------------------------------
    TYPOGRAPHY
----------------------------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    font-family: Roboto, 'sans-serif';
    line-height: 15px;
}

h1 {
    font-size: 40px;
    letter-spacing: -1.5px;
    font-weight: lighter;
    line-height: 48px;
}

h2 {
    font-size: 31px;
    letter-spacing: -0.5px;
    font-weight: lighter;
    line-height: 40px;
}

h3 {
    font-size: 25.92px;
    letter-spacing: 0px;
    font-weight: normal;
    line-height: 32px;
}

h4 {
    font-size: 16.2px;
    letter-spacing: 0.2px;
    font-weight: normal;
    line-height: 44px;
}

h5 {
    font-size: 14.99px;
    letter-spacing: 0px;
    font-weight: normal;
    line-height: 28px;
}

h6 {
    font-size: 16px;
    letter-spacing: 0.15px;
    font-weight: normal;
    line-height: 24px;
}

p {
    font-size: 16px;
    letter-spacing: 0.4px;
    font-weight: normal;
    line-height: 20px;
}

.title {
    font-weight: normal;
    text-transform: initial;
    letter-spacing: 0.5px;
    line-height: 10px;
}

.subtitle {
    font-weight: normal;
    text-transform: initial;
    letter-spacing: 0.15px;
    line-height: 10px;
    color: #333333;
}

.text-primary {
    color: #304ffe !important;
}

.text-secondary {
    color: #fa8503 !important;
}

.text-poppins {
    font-family: Poppins, 'sans-serif';
}

/* ---------------------------------------------------
    NAVBAR
----------------------------------------------------- */
.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, .5);
    font-weight: bold !important;
}

/* ---------------------------------------------------
    BUTTONS
----------------------------------------------------- */
.btn {
    padding: 8px;
    margin: 4px;
    font-family: Roboto, 'sans-serif';
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1.25px;
    /*height: 36px;*/
    background-color: #ffffff;
    border-radius: 25px;
    border-style: none;
    text-transform: uppercase;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
}

.btn:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.btn-primary {
    background-color: #304ffe;
    color: #ffffff;
}

.btn-primary:hover {
    background-color: #1e3ae5;
}

.btn-primary:focus,
.btn-primary:active {
    background-color: #0009ca !important;
}

.btn-primary-light {
    background-color: #eaebff;
    color: #304ffe;
}

.btn-primary-light:hover {
    background-color: #c9ccff;
    color: #304ffe;
}

.btn-primary-light:focus,
.btn-primary-light:active {
    background-color: #a4abff !important;
    color: #304ffe !important;
}

/* ---------------------------------------------------
    CARDS
----------------------------------------------------- */
.card {
    box-shadow: 0 2px 4px 0 rgba(0, 64, 128, .2);
    transition: all .3s cubic-bezier(.25, .8, .25, 1);
    border: none;
    border-radius: 12px;
}

.card:hover {
    background-color: #304ffe;
    color: #ffffff !important;
    box-shadow: 0 4px 8px 0 rgba(0, 64, 128, .2), 0 2px 4px 0 rgba(0, 0, 0, .08);
}


/* ---------------------------------------------------
    SECTIONS
----------------------------------------------------- */
.section-home {
    padding-top: 30px;
    padding-bottom: 50px;
}

.section-services {
    padding-top: 30px;
    padding-bottom: 50px;
    background-color: #fafbfe;
}

.section-about {
    padding-top: 30px;
    padding-bottom: 50px;
    background-color: #ffffff;
}

.section-important {
    padding-top: 30px;
    padding-bottom: 50px;
    color: #ffffff;
    background-color: #304ffe;
}

/* ---------------------------------------------------
    FOOTER
----------------------------------------------------- */
footer {
    background-color: #333333;
    color: #ffffff;
}

footer a {
    color: #c9ccff;
}

footer a:hover {
    color: #a4abff;
}

/* ---------------------------------------------------
    MEDIA QUERIES
----------------------------------------------------- */
@media screen and (max-width: 992px) {
    .img-landing {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .img-landing {
        display: none;
    }
}