@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap);@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,500,700&display=swap);@import url(https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined);@charset "UTF-8";

body {
  font-family: Roboto;
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 0.5px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  color: var(--theme-on-primary);
}

h1 {
  font-family: Poppins;
  font-weight: lighter;
  font-size: 93px;
  letter-spacing: -1.5px;
}

h2 {
  font-family: Poppins;
  font-weight: lighter;
  font-size: 58px;
  letter-spacing: -0.5px;
}

h3 {
  font-family: Poppins;
  font-weight: normal;
  font-size: 46px;
  letter-spacing: 0px;
}

h4 {
  font-family: Poppins;
  font-weight: normal;
  font-size: 33px;
  letter-spacing: 0.25px;
}

h5 {
  font-family: Poppins;
  font-weight: normal;
  font-size: 23px;
  letter-spacing: 0px;
}

h6 {
  font-family: Poppins;
  font-weight: medium;
  font-size: 19px;
  letter-spacing: 0.15px;
}

.subtitle-1 {
  font-family: Poppins;
  font-weight: normal;
  font-size: 15px;
  letter-spacing: 0.15px;
}

.subtitle-2 {
  font-family: Poppins;
  font-weight: medium;
  font-size: 13px;
  letter-spacing: 0.1px;
}

.body-1 {
  font-family: Roboto;
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 0.5px;
}

.body-2 {
  font-family: Roboto;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.25px;
}

.caption {
  font-family: Roboto;
  font-weight: medium;
  font-size: 10px;
  letter-spacing: 0.4px;
}

.overline {
  font-family: Roboto;
  font-weight: normal;
  font-size: 10px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

p,
a {
  font-size: 14px;
  letter-spacing: 0.4px;
  font-weight: normal;
  line-height: 20px;
}

a {
  color: var(--theme-primary);
  text-decoration: none !important;
}

a:hover {
  color: var(--theme-primary-hover) !important;
  text-decoration: none;
}

a:active,
a:focus {
  color: var(--theme-primary-active) !important;
  text-decoration: none;
}

.title {
  font-weight: normal;
  text-transform: initial;
  letter-spacing: 0.5px;
  line-height: 10px;
}

label {
  color: var(--theme-on-primary);
}

.text-roboto {
  font-family: "Roboto", sans-serif;
}

.text-poppins {
  font-family: "Poppins", sans-serif;
}

.text-primary {
  color: var(--theme-primary) !important;
}

.text-secondary {
  color: var(--theme-secondary) !important;
}

.text-success {
  color: var(--theme-success) !important;
}

.text-warning {
  color: var(--theme-warning) !important;
}

.text-danger {
  color: var(--theme-danger) !important;
}

.text-muted {
  color: var(--theme-muted) !important;
}

.text-spacing {
  line-height: 30px;
}

.text-size-14 {
  font-size: 14px;
}

code {
  color: var(--theme-primary) !important;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

.gradient {
  background: -webkit-linear-gradient(var(--theme-primary), var(--theme-primary-active));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.palette {
  color: var(--theme-secondary);
}

.active-heart,
.fav-heart {
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.fav-heart {
  color: var(--theme-on-primary);
}

.active-heart {
  color: var(--theme-danger);
}

/* ---------------------------------------------------
    GENERAL STYLES
----------------------------------------------------- */

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  color: #000;
  background-color: var(--theme-background);
  font-weight: 400;
  font-size: 14px;
}

/* ---------------------------------------------------
    COLORS
----------------------------------------------------- */

.bg-primary {
  background-color: var(--theme-primary) !important;
  color: var(--theme-on-primary-inverse) !important;
}

.bg-secondary {
  background-color: var(--theme-secondary) !important;
  color: var(--theme-on-primary) !important;
}

/* ---------------------------------------------------
    BORDERS
----------------------------------------------------- */

.no-border {
  border-radius: 0px !important;
}

.border-radius-4 {
  border-radius: 4px !important;
}

.border-radius-8 {
  border-radius: 8px !important;
}

.border-radius-12 {
  border-radius: 12px !important;
}

.border-radius-25 {
  border-radius: 25px !important;
}

.border-radius-50 {
  border-radius: 50px !important;
}

.translate-up:hover {
  transform: translate(0, -10px);
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12) !important;
}

i.material-icons,
i.material-icons-outlined {
  vertical-align: middle;
  display: inline-flex;
}

.img-fluid {
  border-radius: 4px;
}

.box-shadow-0 {
  box-shadow: none !important;
}

#disable-payments-overlay {
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  bottom: 80px;
  left: 0;
  width: 100%;
  height: 200px;
  z-index: 999;
}

.login-img {
  padding-top: 8%;
  padding-bottom: 5%;
}

.img-logo {
  -webkit-filter: var(--theme-img-logo);
          filter: var(--theme-img-logo);
}

table th {
  color: var(--theme-primary) !important;
  font-family: Poppins, "sans-serif";
}

table td {
  color: var(--theme-on-primary);
}

.minicolors-swatch-color {
  border-radius: 25px;
}

.minicolors-theme-default .minicolors-swatch {
  border-radius: 25px;
}

@media (min-width: 992px) {
  .animate {
    animation-duration: 0.2s;
    -webkit-animation-duration: 0.2s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
  }

  .animate-md {
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }

  100% {
    transform: translateY(0rem);
    opacity: 1;
  }

  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
  }

  0% {
    -webkit-transform: translateY(1rem);
    -webkit-opacity: 0;
  }
}

.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}

/* ---------------------------------------------------
    NAVBAR
----------------------------------------------------- */

.navbar {
  background-color: var(--theme-surface) !important;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 14px;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
  z-index: 999;
}

.navbar-light .navbar-nav .nav-link {
  color: var(--theme-primary) !important;
  font-family: "Poppins", sans-serif;
}

.navbar .navbar-brand {
  color: var(--theme-primary);
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

.navbar .navbar-brand:hover {
  color: var(--theme-primary-hover);
}

.navbar .navbar-brand:focus,
.navbar .navbar-brand:active {
  color: var(--theme-primary-active);
}

.navbar a {
  color: var(--theme-on-primary);
}

.navbar a:hover {
  border-radius: 25px;
}

.navbar a:focus,
.navbar a:active {
  color: var(--theme-on-primary-inverse) !important;
}

.navbar-light .navbar-toggler {
  color: var(--theme-on-surface);
  border-color: var(--theme-on-surface);
}

.dropdown-menu {
  background-color: var(--theme-surface);
  border: none;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
}

.dropdown-divider {
  border-top: 1px solid var(--theme-surface-1dp);
}

.dropdown-item {
  font-weight: 500;
  color: var(--theme-on-primary) !important;
}

.dropdown-item:hover {
  background-color: var(--theme-primary);
  color: var(--theme-on-primary-inverse) !important;
}

.dropdown-item:active,
.dropdown-item:focus {
  background-color: var(--theme-primary);
  color: var(--theme-on-primary) !important;
}

.footer {
  background-color: var(--theme-surface);
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
  position: -webkit-sticky;
  position: sticky;
  width: 100% !important;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 40px;
}

.footer .footer-icon {
  margin-right: 5px;
}

.footer .footer h6 {
  color: var(--theme-on-primary-inverse);
}

/* ---------------------------------------------------
    BUTTONS STYLES
----------------------------------------------------- */

.btn {
  padding: 8px;
  margin: 4px;
  font-family: Roboto;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1.25px;
  /*height: 36px;*/
  background-color: var(--theme-surface);
  color: var(--theme-on-primary);
  border-radius: 8px;
  border-style: none;
  text-transform: uppercase;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  /*display: inline-flex;*/
  vertical-align: middle;
  align-items: center;
  justify-content: center;
}

.btn:hover {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.btn:focus,
.btn:active {
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12) !important;
}

.btn-sm {
  padding: 0.15rem 0.5rem !important;
  font-size: 0.875rem !important;
  line-height: 1.5 !important;
  border-radius: 0.2rem !important;
  margin: 1px !important;
}

.btn-round {
  border-radius: 25px !important;
  display: inline-flex;
  padding: 10px;
}

/* ---------------------------------------------------
      PRIMARY BUTTONS
  ----------------------------------------------------- */

.btn-primary {
  background-color: var(--theme-primary);
  color: var(--theme-on-primary-inverse);
  border: none !important;
}

.btn-primary:hover {
  background-color: var(--theme-primary-hover);
  color: var(--theme-on-primary-inverse) !important;
}

.btn-primary:focus,
.btn-primary:active {
  background-color: var(--theme-primary-active) !important;
  color: var(--theme-on-primary-inverse) !important;
}

.btn-secondary {
  background-color: var(--theme-secondary);
  color: #000 !important;
  border: none !important;
}

.btn-secondary:hover {
  background-color: var(--theme-secondary-hover);
  color: #000 !important;
}

.btn-secondary:focus,
.btn-secondary:active {
  background-color: var(--theme-secondary-active) !important;
  color: #000 !important;
}

.btn-link {
  background-color: var(--theme-background);
  color: var(--theme-primary);
  border: none !important;
  box-shadow: none;
}

.btn-link:hover {
  background-color: var(--theme-light-primary);
  color: var(--theme-primary-hover);
  box-shadow: none;
  text-decoration: none;
}

.btn-link:focus,
.btn-link:active {
  background-color: var(--theme-light-primary-hover) !important;
  color: var(--theme-primary-active) !important;
  box-shadow: none !important;
  text-decoration: none;
}

.btn-outline {
  background-color: var(--theme-surface);
  border: 1px solid var(--theme-background-70);
  box-shadow: none;
}

.btn-outline:hover {
  background-color: var(--theme-primary-light);
  color: var(--theme-primary-active);
  box-shadow: none;
  text-decoration: none;
}

.btn-outline:focus,
.btn-outline:active {
  background-color: var(--theme-primary-light);
  color: var(--theme-primary-active);
  box-shadow: none !important;
  text-decoration: none;
}

/* ---------------------------------------------------
      RIPPLE
  ----------------------------------------------------- */

.ripple {
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.ripple:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, #ffffff 10%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(20, 20);
  opacity: 0;
  transition: transform 0.4s, opacity 1s;
}

.ripple-dark:after {
  background-image: radial-gradient(circle, #000 10%, transparent 10.01%);
}

.ripple:active:after {
  transform: scale(0, 0);
  opacity: 0.3;
  transition: 0s;
}

/* BUTTON BACK TO TOP */

#backTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: var(--theme-secondary);
  color: #000000;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  /* 4dp */
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

#backTop:hover {
  background-color: var(--theme-secondary-hover);
  /* 8dp */
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

/* ---------------------------------------------------
    CARD
----------------------------------------------------- */

.card {
  background-color: var(--theme-surface-1dp);
  border-color: var(--theme-surface-1dp);
  color: var(--theme-on-primary);
  border-radius: 12px;
  /* 1dp */
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.card:hover {
  /* 8dp */
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.card-header {
  background-color: var(--theme-surface-1dp);
  border-bottom: 1px solid transparent;
}

.card-header:first-child {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.card-footer {
  padding: 0.75rem 1.25rem;
  background-color: var(--theme-surface-1dp);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.card-footer:last-child {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.card-img-top {
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card-square {
  border-radius: 0px;
}

.card-round {
  border-radius: 50px;
}

.card-outline {
  box-shadow: none !important;
  border: 1px solid var(--theme-surface-card-outline);
}

.card-outline:hover {
  box-shadow: none;
}

.card-static-elevation {
  /* 1dp */
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.card-static-elevation:hover {
  /* 1dp */
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.card-gradient {
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 8px;
  box-shadow: none !important;
}

.card-gradient:hover {
  box-shadow: none !important;
}

.jumbotron-fluid {
  height: 50vh;
  border-radius: 8px;
  background-color: var(--theme-surface);
}

.form-control:focus {
  color: #495057;
  border-color: #258bff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.form-mat-g {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--theme-on-primary);
  background-color: var(--theme-background-80);
  background-clip: padding-box;
  border: none;
  border-bottom: 1px solid;
  border-radius: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  transition: all 0.35s ease-in-out;
}

.form-mat-g:focus,
.form-mat-g:active {
  color: var(--theme-primary);
  background-color: var(--theme-background-60);
  border-color: var(--theme-primary) !important;
  box-shadow: none;
  border-bottom: 1.5px solid;
}

.form-select {
  color: #000000;
  background-color: var(--theme-background-80);
}

.form-select:focus,
.form-select:active {
  color: #000000;
  border-color: var(--theme-primary) !important;
  box-shadow: none;
  border-bottom: 1.5px solid;
}

input:-internal-autofill-selected {
  background-color: var(--theme-background-80) !important;
}

.search-input {
  background-color: var(--theme-surface-1dp);
  color: var(--theme-on-primary);
  border: none;
  border-radius: 25px !important;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.search-input:focus {
  background-color: var(--theme-surface-1dp) !important;
  color: var(--theme-on-primary);
  border: none;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.checkbox {
  padding-left: 20px;
}

.checkbox label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 5px;
}

.checkbox label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 2px solid #50555D;
  border-radius: 3px;
  background-color: #fff;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

.checkbox label::after {
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 0;
  margin-left: -20px;
  padding-left: 3px;
  padding-top: 1px;
  font-size: 11px;
  color: #555555;
}

.checkbox input[type=checkbox],
.checkbox input[type=radio] {
  opacity: 0;
  z-index: 1;
}

.checkbox input[type=checkbox]:focus + label::before,
.checkbox input[type=radio]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.checkbox input[type=checkbox]:checked + label::after,
.checkbox input[type=radio]:checked + label::after {
  content: "\F00C";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

.checkbox input[type=checkbox]:disabled + label,
.checkbox input[type=radio]:disabled + label {
  opacity: 0.65;
}

.checkbox input[type=checkbox]:disabled + label::before,
.checkbox input[type=radio]:disabled + label::before {
  background-color: #eeeeee;
  cursor: not-allowed;
}

.checkbox-primary input[type=checkbox]:checked + label::before,
.checkbox-primary input[type=radio]:checked + label::before {
  background-color: var(--theme-primary);
  border-color: var(--theme-primary);
}

.checkbox-primary input[type=checkbox]:checked + label::after,
.checkbox-primary input[type=radio]:checked + label::after {
  color: var(--theme-on-primary-inverse);
}

/* CUSTOM CSS SWITCH */

.switch {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 14px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #b3b3b3;
  transition: 0.2s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 0px;
  bottom: -2px;
  background-color: #fff;
  transition: 0.2s;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

input:checked + .slider {
  background-color: var(--theme-primary);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--theme-primary);
}

input:checked + .slider:before {
  transform: translateX(15px);
  background-color: var(--theme-primary-active);
}

/* Rounded sliders */

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.page-item.active .page-link {
  color: var(--theme-on-primary-inverse);
  background-color: var(--theme-primary);
  border-color: var(--theme-primary);
}

.page-link {
  background-color: var(--theme-surface);
  border: var(--theme-surface);
  color: var(--theme-on-primary);
}

.page-item.disabled .page-link {
  background-color: var(--theme-primary-hover);
  border: var(--theme-primary-active);
  color: var(--theme-on-primary-inverse);
}

.pagination {
  flex-wrap: wrap !important;
}

.list-group {
  margin-bottom: 20px;
  border-radius: 15px;
}

.list-palette {
  height: 35px;
}

.palette-show {
  height: 80px;
}

.badge-primary {
  color: #fff;
  background-color: var(--theme-primary);
}

.badge-secondary {
  color: #000000;
  background-color: var(--theme-secondary);
}

.modal .modal-header {
  border-bottom: 1px solid var(--theme-surface-1dp);
}

.modal .modal-content {
  background-color: var(--theme-surface-1dp);
  border-radius: 25px;
  box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 12px 17px 2px rgba(0, 0, 0, 0.14), 0px 5px 22px 4px rgba(0, 0, 0, 0.12);
  border: var(--theme-surface-1dp);
}

.modal .modal-footer {
  border-top: 1px solid var(--theme-surface-1dp);
}

@media screen and (max-width: 992px) {
  .login-img {
    padding-top: 8%;
    display: none;
  }

  .display-5 {
    font-size: 30px;
    font-weight: 300;
    line-height: 1.2;
  }
}

@media only screen and (max-width: 600px) {
  .palette-show {
    height: 80px;
  }

  h1 {
    font-size: 30px;
  }

  .intro-text {
    display: none;
  }

  .btn-return {
    display: flex !important;
    margin-bottom: 10px;
  }

  .button-block {
    width: 100%;
  }

  .device {
    display: none;
  }

  .alert-device {
    display: flex !important;
  }

  #disable-payments-overlay {
    bottom: 80px;
    height: 390px;
  }

  .h6-responsive {
    font-size: 13px;
  }

  .login-img {
    display: none;
  }

  .display-5 {
    font-size: 30px;
    font-weight: 300;
    line-height: 1.2;
  }
}

