/* ---------------------------------------------------
    COLORFFY ADMIN V2 STYLES
----------------------------------------------------- */

/* ---------------------------------------------------
    LIGHT/DEFAULT THEME
----------------------------------------------------- */
:root {
    --text-primary-color: #6002ee;
    --text-secondary-color: #ff9100;
    --text-white-color: #ffffff;
    --text-black-color: #000000;
    --text-white-black-color: #ffffff;

    --text-color: #000000;
    --bg-color: #fafbfe;

    --bg-primary-color: #6002ee;
    --bg-secondary-color: #ff9100;

    --bg-card-color: #ffffff;

    --bg-navbar-color: #ffffff;

    --bg-sidebar-color: #6002ee;
    --bg-sidebar-dropdown-color: #ffffff;
    --text-sidebar-dropdpwn-color: #000000;
    --bg-sidebar-hover-color: #ffffff3a;
    --text-sidebar-hover-color: #f3f3f3;

    --bg-primary-btn-color: #6002ee;
    --bg-primary-btn-color-hover: #3d00e0;
    --bg-primary-btn-color-focus: #0000d6;
    --text-primary-btn-color: #ffffff;

    --bg-secondary-btn-color: #ffa101;
    --bg-secondary-btn-color-hover: #ff9100;
    --bg-secondary-btn-color-focus: #ff7100;
    --text-secondary-btn-color: #000000;

    --text-link-btn-color: #6002ee;
    --text-link-btn-color-hover: #3d00e0;
    --text-link-btn-color-focus: #0000d6;

    --bg-field-color: #eeeeee;
    --bg-text-field-focus-color: #d3d3d3;
    --text-field-color: #929292;
}

/* ---------------------------------------------------
    DARK THEME
----------------------------------------------------- */
[data-theme="dark"] {
    --text-primary-color: #b794f6;
    --text-secondary-color: #ffc246;
    --text-white-color: #ffffff;
    --text-black-color: #000000;
    --text-white-black-color: #000000;

    --text-color: #ffffff;
    --bg-color: #121212;

    --bg-primary-color: #b794f6;
    --bg-secondary-color: #ffc246;

    --bg-card-color: #202020;

    --bg-navbar-color: #303030;

    --bg-sidebar-color: #303030;
    --bg-sidebar-dropdown-color: #202020;
    --text-sidebar-dropdpwn-color: #ffffff;
    --bg-sidebar-hover-color: #ffffff1e;
    --text-sidebar-hover-color: #ffffff;

    --bg-primary-btn-color: #b794f6;
    --bg-primary-btn-color-hover: #9965f4;
    --bg-primary-btn-color-focus: #7e3ff2;
    --text-primary-btn-color: #000000;

    --bg-secondary-btn-color: #ffe183;
    --bg-secondary-btn-color-hover: #ffd650;
    --bg-secondary-btn-color-focus: #ffcb29;
    --text-secondary-btn-color: #000000;

    --text-link-btn-color: #b794f6;
    --text-link-btn-color-hover: #9965f4;
    --text-link-btn-color-focus: #7e3ff2;

    --bg-field-color: #202020;
    --bg-text-field-focus-color: #181818;
    --text-field-color: #929292;
}

/* ---------------------------------------------------
    BODY
----------------------------------------------------- */
body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: Roboto, 'sans-serif';
    font-weight: normal;
    overflow-x: hidden;
    font-size: 14px;
    line-height: 20px;
}

/* ---------------------------------------------------
    TYPOGRAPHY
----------------------------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    font-family: Roboto, 'sans-serif';
    line-height: 15px;
}

h1 {
    font-size: 33.184px;
    letter-spacing: -1.5px;
    font-weight: lighter;
    line-height: 48px;
}

h2 {
    font-size: 31px;
    letter-spacing: -0.5px;
    font-weight: lighter;
    line-height: 40px;
}

h3 {
    font-size: 25.92px;
    letter-spacing: 0px;
    font-weight: normal;
    line-height: 32px;
}

h4 {
    font-size: 16.2px;
    letter-spacing: 0.2px;
    font-weight: normal;
    line-height: 44px;
}

h5 {
    font-size: 14.99px;
    letter-spacing: 0px;
    font-weight: normal;
    line-height: 28px;
}

h6 {
    font-size: 16px;
    letter-spacing: 0.15px;
    font-weight: normal;
    line-height: 24px;
}

p {
    font-size: 16px;
    letter-spacing: 0.4px;
    font-weight: normal;
    line-height: 20px;
}

.text-roboto {
    font-family: Roboto, 'sans-serif';
}

.text-montserrat {
    font-family: Montserrat, 'sans-serif';
}

.title {
    font-weight: normal;
    text-transform: initial;
    letter-spacing: 0.5px;
    line-height: 10px;
}

.subtitle {
    font-weight: normal;
    text-transform: initial;
    letter-spacing: 0.15px;
    line-height: 10px;
    color: #333333;
}

/* ---------------------------------------------------
    COLORS
----------------------------------------------------- */
.text-primary {
    color: var(--text-primary-color) !important;
}

.text-secondary {
    color: var(--text-secondary-color) !important;
}

.text-black-white {
    color: var(--text-color) !important;
}

a {
    color: var(--text-primary-color)
}

.bg-primary-color {
    background-color: var(--bg-primary-color) !important;
    color: var(--text-white-black-color) !important;
}

.bg-secondary-color {
    background-color: var(--bg-secondary-color) !important;
    color: var(--text-black-color) !important;
}

/* ---------------------------------------------------
    NAVBAR
----------------------------------------------------- */
.navbar {
    background-color: var(--bg-navbar-color) !important;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    position: sticky;
    top: 0;
    z-index: 5;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 17px;
}

.navbar-bg-primary {
    background-color: var(--bg-primary-color) !important;
}

.navbar a {
    color: var(--text-color) !important;
}

.navbar a:hover {
    background-color: #f5f5f53f !important;
    color: #ffffff;
}

.navbar-brand:hover {
    background-color: transparent !important;
}

/* ---------------------------------------------------
    CARDS
----------------------------------------------------- */
.card {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    border-radius: 8px;
    background-color: var(--bg-card-color);
    color: var(--text-color);
}

.card-md-hg {
    height: 150px;
}

.card-header {
    background-color: var(--bg-card-color);
    color: var(--text-primary-color);
    font-weight: bold;
    border-bottom: none;
}

.card-header:first-child {
    border-radius: 8px;
}

.card-square {
    border-radius: 0px !important;
}

/* ---------------------------------------------------
    BUTTONS
----------------------------------------------------- */
.btn {
    padding: 8px;
    margin: 4px;
    font-family: Roboto, 'sans-serif';
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1.25px;
    /*height: 36px;*/
    background-color: #ffffff;
    border-radius: 8;
    border-style: none;
    text-transform: uppercase;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
}

.btn:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.btn-round {
    border-radius: 20px !important;
}

.btn-primary {
    background-color: var(--bg-primary-btn-color);
    color: var(--text-primary-btn-color);
    border: none;
}

.btn-primary:hover {
    background-color: var(--bg-primary-btn-color-hover);
    color: var(--text-primary-btn-color) !important;
}

.btn-primary:active,
.btn-primary:focus {
    background-color: var(--bg-primary-btn-color-focus) !important;
    color: var(--text-primary-btn-color) !important;
}

.btn-secondary {
    background-color: var(--bg-secondary-btn-color);
    color: var(--text-secondary-btn-color);
    border: none;
}

.btn-secondary:hover {
    background-color: var(--bg-secondary-btn-color-hover);
    color: var(--text-secondary-btn-color);
}

.btn-secondary:active,
.btn-secondary:focus {
    background-color: var(--bg-secondary-btn-color-focus) !important;
    color: var(--text-secondary-btn-color) !important;
}

.btn-light {
    background-color: #ffffff;
    color: var(--text-link-btn-color);
}

.btn-light:hover,
.btn-light:active {
    color: var(--text-link-btn-color) !important;
}

.btn-link {
    color: var(--text-link-btn-color);
    background-color: transparent;
    box-shadow: none;
}

.btn-link:hover {
    color: var(--text-link-btn-color-hover);
    box-shadow: none;
    text-decoration: none;
}

.btn-link:active,
.btn-link:focus {
    color: var(--text-link-btn-color-focus) !important;
    box-shadow: none;
    text-decoration: none;
}

/* ---------------------------------------------------
    RIPPLE EFFECT
----------------------------------------------------- */
.ripple {
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
}

.ripple:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background-image: radial-gradient(circle, #fff 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10, 10);
    opacity: 0;
    transition: transform .5s, opacity 1s;
}

.ripple:active:after {
    transform: scale(0, 0);
    opacity: .3;
    transition: 0s;
}

/* ---------------------------------------------------
    BADGES
----------------------------------------------------- */
.badge-primary {
    background-color: var(--bg-secondary-btn-color) !important;
    color: var(--text-secondary-btn-color) !important;
}

.badge-secondary {
    background-color: var(--bg-secondary-btn-color) !important;
    color: var(--text-secondary-btn-color) !important;
}

/* ---------------------------------------------------
    MODALS
----------------------------------------------------- */
.modal-content {
    background-color: var(--bg-navbar-color);
    color: var(--text-color);
}

.modal-header {
    border-bottom: none;
}

.modal-footer {
    border-top: none;
}

/* ---------------------------------------------------
    TABLES
----------------------------------------------------- */
.th-padding {
    padding-right: 140px !important;
}

table th {
    color: var(--text-primary-color) !important;
}

table td {
    color: var(--text-color);
}

/* ---------------------------------------------------
    FOOTER
----------------------------------------------------- */
footer {
    background-color: var(--bg-navbar-color);
    color: var(--text-primary-color);
    padding-top: 30px;
    margin-top: 30px;
    padding-bottom: 20px;
}

footer a {
    color: #ffffff;
}

.footer-icon {
    margin-right: 5px;
}

/* ---------------------------------------------------
    FORMS
----------------------------------------------------- */
.form-control {
    background-color: var(--bg-field-color);
    color: var(--text-color);
    border: 0;
    border-bottom: 1px solid;
    border-radius: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transition: all .35s ease-in-out;
}

.form-control:focus {
    background-color: var(--bg-text-field-focus-color);
    color: var(--text-color);
    border-color: var(--bg-primary-btn-color) !important;
    box-shadow: none;
    border-bottom: 1.5px solid;
}

.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}

.form-label-group>input,
.form-label-group>label {
    height: 3.125rem;
    padding: .75rem;
}

.form-label-group>label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    line-height: 1.5;
    color: var(--text-field-color);
    pointer-events: none;
    cursor: text;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
    color: transparent;
}

.form-label-group input:-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-moz-placeholder {
    color: transparent;
}

.form-label-group input::placeholder {
    color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
    padding-top: 1.25rem;
    padding-bottom: .25rem;
}

.form-label-group input:not(:placeholder-shown)~label {
    padding-top: .25rem;
    padding-bottom: .25rem;
    font-size: 12px;
    color: var(--bg-primary-btn-color) !important;
}

/* Fallback for Edge
  -------------------------------------------------- */
@supports (-ms-ime-align: auto) {
    .form-label-group>label {
        display: none;
    }

    .form-label-group input::-ms-input-placeholder {
        color: #777;
    }
}

/* Fallback for IE
  -------------------------------------------------- */
@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    .form-label-group>label {
        display: none;
    }

    .form-label-group input:-ms-input-placeholder {
        color: #777;
    }
}

/* ---------------------------------------------------
    PAGINATION
----------------------------------------------------- */
.page-link {
    background-color: var(--bg-card-color);
    color: var(--bg-secondary-btn-color);
}

/* ---------------------------------------------------
    DATE PICKER
----------------------------------------------------- */
.gj-picker {
    color: var(--text-color);
    background-color: var(--bg-color);
}

/* ---------------------------------------------------
    MEDIA QUERIES
----------------------------------------------------- */
/* On screens that are 992px or less*/
@media screen and (max-width: 992px) {
    .card-main-svg {
        height: auto;
    }
}

/* On screens that are 600px or less*/
@media screen and (max-width: 600px) {
    .card-main-svg {
        height: auto;
    }
}
