body {
    font-family: 'Nunito', sans-serif;
    background-color: #fafbfe;
    color: #6c757d;
}

.navbar {
    background-color: #ffffff;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0 2px 4px 0 rgba(0, 64, 128, .2);
}

.nav-color {
    color: #258bff !important;
}

.nav-color:hover {
    color: #1976d2 !important;
}

.logo {
    font-family: 'Fredoka One', cursive;
}

.gradient {
    background: -webkit-linear-gradient( #00F260, #0575E6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.palette {
    color: #F74D47;
}

.btn {
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 100px;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.btn-gradient {
    color: #000000;
    background-color: #ffffff;
    margin-right: 5px;
    margin-bottom: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 64, 128, .2);
}

.btn-gradient:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 64, 128, .2),
        0 2px 4px 0 rgba(0, 0, 0, 0.08);
}

.btn-primary {
    background-color: #727cf5;
    border-color: #727cf5;
    -webkit-box-shadow: 0 2px 6px 0 rgba(114, 124, 245, .5);
    box-shadow: 0 2px 6px 0 rgba(114, 124, 245, .5);
}

.btn-primary:hover,
.btn-primary:active {
    background-color: #3645f1;
    border-color: #3645f1;
}

.btn-danger {
    -webkit-box-shadow: 0 2px 6px 0 rgba(250, 92, 124, .5);
    box-shadow: 0 2px 6px 0 rgba(250, 92, 124, .5);
}

.btn-outline-light {
    box-shadow: 0 2px 4px 0 rgba(0, 64, 128, .2);
}

.btn-return {
    display: none !important;
}

.color-blue {
    color: #258bff;
}
.color-darkblue {
    color: #1976d2;
}

.bold {
    font-weight: 600;
}

.card {
    margin-bottom: 20px;
    border: none;
    border-radius: 15px;
}

.card-body {
    border-radius: 15px;
}

.card-footer {
    background-color: #ffffff;
    -webkit-box-shadow: 0 10px 40px -10px rgba(0, 64, 128, .2);
    box-shadow: 0 10px 40px -10px rgba(0, 64, 128, .2);
}

.card-gradient {
    color: #ffffff;
    padding-top: 50px;
    padding-bottom: 50px;
}

.card-form {
    box-shadow: 0 10px 40px -10px rgba(0, 64, 128, .2);
}

.card-blue {
    background: #258bff;
    background: -webkit-linear-gradient(to right, #1976d2, #258bff);
    background: linear-gradient(to right, #1976d2, #258bff);
    color: #ffffff;
    text-align: center;
}

.card-white {
    color: #000000;
    text-align: center;
}

.shadow-medium {
    box-shadow: 0 2px 4px 0 rgba(0, 64, 128, .2);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.shadow-medium:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 64, 128, .2),
        0 2px 4px 0 rgba(0, 0, 0, 0.08);
}

.gradient-link {
    text-decoration: none !important;
    text-transform: uppercase;
}

a {
    text-decoration: none !important;
}

.jumbotron-fluid {
    height: 50vh;
    border-radius: 15px;
}

.list-group {
    /*box-shadow: 0 10px 40px -10px rgba(0, 64, 128, .2);*/
    margin-bottom: 20px;
    border-radius: 15px;
}

.list-palette {
    height: 35px;
}

.palette-show {
    height: 80px;
}

.form-control:focus {
    color: #495057;
    border-color: #258bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}

.footer {
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 64, 128, .2);
    position: sticky;
    width: 100% !important;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 40px;
}
.page-item.active .page-link {
    color: #fff;
    background-color: #258bff;
    border-color: #258bff;
}
.page-link {
    color: #258bff;
}

.no-border {
    border: none;
    border-radius: 15px;
}

@media only screen and (max-width: 600px) {
    .palette-show {
        height: 80px;
    }

    h1 {
        font-size: 30px;
    }

    .intro-text {
        display: none;
    }

    .btn-return {
        display: flex !important;
        margin-bottom: 10px;
    }
}
