body {
    color: #50555D;
    background-color: #fafbfe
}

.navbar {
    background-color: #fff;
    font-weight: 700;
    box-shadow: 0 2px 4px 0 rgba(0, 64, 128, .2)
}

.navbar-light .navbar-nav .active>.nav-link {
    color: #1F2AFF !important
}

.nav-color {
    color: #6c757d !important;
}

.nav-color:hover {
    color: #000 !important;
    transition: all .3s cubic-bezier(.25, .8, .25, 1)
}

.logo-brand {
    color: #1F2AFF !important
}

.gradient {
    background: -webkit-linear-gradient(#00f260, #0575e6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.palette {
    color: #f74d47
}

.btn {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1.25px;
    border-radius: 100px;
    transition: all .3s cubic-bezier(.25, .8, .25, 1);
    
}
.btn-gradient {
    color: #000;
    background-color: #fff;
    margin-right: 5px;
    margin-bottom: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 64, 128, .2)
}
.btn-gradient:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 64, 128, .2), 0 2px 4px 0 rgba(0, 0, 0, .08)
}
.btn-primary {
    color: #fff;
    border: 0;
    background: #1F2AFF;
}
.btn-primary:hover {
    background-color: #0f129e;
}
.btn-primary:active, .btn-primary:focus {
    background-color: #141acc !important;
}
.btn-secondary {
    background-color: #ffffff;
    border: 0;
    color: #1F2AFF
}
.btn-secondary:hover {
    background-color: #eeeeee;
    color: #1F2AFF
}
.btn-secondary:active, .btn-secondary:focus {
    background-color: #f5f5f5 !important;
    color: #1F2AFF !important
}
.btn-danger {
    background-color: #ea284c;
    border: 0
}
.btn-danger:hover {
    color: #ffffff;
    background-color: #9e0e0e;
}
.btn-danger:active, .btn-danger:focus {
    color: #ffffff !important;
    background-color: #cc1212;
}
.btn-outline-light {
    box-shadow: 0 2px 4px 0 rgba(0, 64, 128, .2)
}
.btn-return {
    display: none !important
}
.btn-link {
    color: #1F2AFF;
}

.color-blue {
    color: #258bff
}
.color-indigo {
    color: #1F2AFF;
}
.color-indigo:hover {
    color: #0f129e;
}
.color-darkblue {
    color: #11569C
}

.bold {
    font-weight: 700
}
.uppercase {
    text-transform: uppercase !important
}

.card {
    margin-bottom: 20px;
    border: 0
}
.card,
.card-body {
    border-radius: 15px
}
.card-header:first-child {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #1F2AFF;
    color: #ffffff;
    text-align: center;
}
.card-footer {
    background-color: #fff;
    -webkit-box-shadow: 0 10px 40px -10px rgba(0, 64, 128, .2);
    box-shadow: 0 10px 40px -10px rgba(0, 64, 128, .2)
}

.card-gradient {
    color: #fff;
    padding-top: 50px;
    padding-bottom: 50px
}

.card-form {
    box-shadow: 0 10px 40px -10px rgba(0, 64, 128, .2)
}

.card-blue {
    background: #258bff;
    background: -webkit-linear-gradient(to right, #1976d2, #258bff);
    background: linear-gradient(to right, #1976d2, #258bff);
    color: #fff;
    text-align: center
}

.card-white {
    color: #000;
    text-align: center
}

.shadow-medium {
    box-shadow: 0 2px 4px 0 rgba(0, 64, 128, .2);
    transition: all .3s cubic-bezier(.25, .8, .25, 1)
}

.shadow-medium:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 64, 128, .2), 0 2px 4px 0 rgba(0, 0, 0, .08)
}

.gradient-link {
    text-transform: uppercase
}

.gradient-link,
a {
    text-decoration: none !important
}

.jumbotron-fluid {
    height: 50vh;
    border-radius: 4px
}

.list-group {
    margin-bottom: 20px;
    border-radius: 15px
}

.list-palette {
    height: 35px
}

.palette-show {
    height: 80px
}

.form-control:focus {
    color: #495057;
    border-color: #258bff;
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25)
}

.footer {
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 64, 128, .2);
    position: sticky;
    width: 100% !important;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 40px
}

.page-item.active .page-link {
    color: #fff;
    background-color: #1F2AFF;
    border-color: #1F2AFF;
}

.page-link {
    color: #255dce
}

.no-border {
    border: 0;
    border-radius: 15px
}

.badge-primary {
    color: #fff;
    background-color: #1F2AFF;
}

.footer-icon {
    margin-right: 5px
}

.active-heart,
.fav-heart {
    transition: all .3s cubic-bezier(.25, .8, .25, 1)
}

.fav-heart {
    color: #000
}

.active-heart {
    color: red
}

.modal-content {
    background-color: #fff;
    border-radius: 15px
}

code {
    color: #e83e8c;
    font-weight: 600;
    font-family: 'Nunito', sans-serif
}

.pagination {
    flex-wrap: wrap !important
}

.alert-device {
    display: none;
}

#disable-payments-overlay {
    background-color: rgba(255,255,255,0.9);
    position: absolute;
    bottom: 80px;
    left: 0;
    width: 100%;
    height: 200px;
    z-index: 999;
}

.text-spacing {
    line-height: 30px;
}

.form-mat-g {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #000000;
    background-color: #e9ecef;
    background-clip: padding-box;
    border: none;
    border-bottom: 1.0px solid;
    border-radius: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transition: all .35s ease-in-out;
}
.form-mat-g:focus {
    color: #1F2AFF;
    background-color: #e9ecef;
    border-color: #1F2AFF !important;
    box-shadow: none;
    border-bottom: 1.5px solid;
}
.form-select {
    color: #000000;
    background-color: #e9ecef;
}
.form-select:focus {
    color: #000000;
    border-color: #1F2AFF !important;
    box-shadow: none;
    border-bottom: 1.5px solid;
}

.checkbox {
    padding-left: 20px;
}
.checkbox label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 5px;
}
.checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 2px solid #50555D;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}
.checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 11px;
    color: #555555;
}
.checkbox input[type="checkbox"],
.checkbox input[type="radio"] {
    opacity: 0;
    z-index: 1;
}
.checkbox input[type="checkbox"]:focus + label::before,
.checkbox input[type="radio"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.checkbox input[type="checkbox"]:checked + label::after,
.checkbox input[type="radio"]:checked + label::after {
    content: "\f00c";
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
}
.checkbox input[type="checkbox"]:disabled + label,
.checkbox input[type="radio"]:disabled + label {
    opacity: 0.65;
}
.checkbox input[type="checkbox"]:disabled + label::before,
.checkbox input[type="radio"]:disabled + label::before {
    background-color: #eeeeee;
    cursor: not-allowed;
}
.checkbox-primary input[type="checkbox"]:checked + label::before,
.checkbox-primary input[type="radio"]:checked + label::before {
    background-color: #1F2AFF;
    border-color: #1F2AFF;
}
.checkbox-primary input[type="checkbox"]:checked + label::after,
.checkbox-primary input[type="radio"]:checked + label::after {
    color: #fff;
}

@media only screen and (max-width:600px) {
    .palette-show {
        height: 80px
    }

    h1 {
        font-size: 30px
    }

    .intro-text {
        display: none
    }

    .btn-return {
        display: flex !important;
        margin-bottom: 10px
    }

    .button-block {
        width: 100%
    }

    .device {
        display: none   
    }

    .alert-device {
        display: flex !important;
    }

    #disable-payments-overlay {
        bottom: 80px;
        height: 390px;
    }

    .h6-responsive {
        font-size: 13px;
    }
}
