/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: var(--bg-sidebar-color);
    color: var(--text-white-color);
    transition: all 0.3s;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: var(--bg-sidebar-color);
    color: var(--text-white-color);
}

#sidebar ul.components {
    padding: 20px 0;

}

#sidebar ul p {
    color: var(--text-white-color);
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: var(--text-white-color);
    list-style-type: none;
}

#sidebar ul li a:hover {
    color: var(--text-sidebar-hover-color);
    background: var(--bg-sidebar-hover-color);
    text-decoration: none;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: var(--text-white-color);
}

a[data-toggle="collapse"] {
    position: relative;
}

.list-sidebar {
    color: var(--text-primary-color);
    list-style-type: none;
    text-decoration: none;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    color: var(--text-sidebar-dropdpwn-color) !important;
    background: var(--bg-sidebar-dropdown-color);
    transition: all 0.3s;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

ul ul a:hover {
    color: var(--text-white-color) !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: calc(100% - 250px);
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

#content.active {
    width: 100%;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }

    #sidebar.sidebar-header {
        color: var(--bg-sidebar-color) !important;
    }

    #sidebar.active {
        margin-left: 0;
    }

    #content {
        width: 100%;
    }

    #content.active {
        width: calc(100% - 250px);
    }

    #sidebarCollapse span {
        display: none;
    }
}
