/*BACKGROUND ANIMATION*/
body {
    width: 100wh;
    height: 90vh;
    color: #fff;
    /* choose your four favorite colors*/
    background: linear-gradient(-45deg, #7c30ed, #8257f5, #aa00d7, #c700b9);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

#banner {
    color: white;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

#download {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}

#icon {
    color: #b452ff;
    font-size: 30px;

}

.card {
    border-radius: 25px;
    transition: all .3s cubic-bezier(.25, .8, .25, 1);
}

.card:hover {
    box-shadow: 2px 2px 10px rgb(92, 92, 91);
}

#OS {
    font-family: 'Poppins', sans-serif;
    color: dimgray;
    font-size: 20px;
    font-weight: inherit;
}

#button {
    color: white;
    border-radius: 30px;
    font-family: 'Poppins', sans-serif;
    margin: 10px;
    padding-block-start: 10px;
}

#button:hover {

    background: #3f51b5;

}

#block-buttons {
    margin-top: 150px;
}

@media screen and (max-width: 992px) {
    .card {
        margin-left: 20px;
        margin-right: 20px;
    }

    #block-buttons {
        margin-top: 30px;
    }

    #download {
        font-size: 30px;
    }

    #navbar {
        align-content: center;
    }
}